body {
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none; /* Removes underlines */
    display: block; /* Prevents inline behavior */
    margin: 0; /* Removes any gaps caused by margins */
    padding: 0; /* Removes any gaps caused by padding */
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    z-index: 0;
  }
  
  .flex-container img {
    flex: 0 0 auto;
    width: 100%;
  }

  .fixed-element {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
  }

  .fixed-element2 {
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 2;
    width: 20%;
  }

  .fixed-element666 {
    position: fixed;
    bottom: 15%;
    right: 90%;
    z-index: 3;
    width: 20%;
  }

  .center {
    margin: auto;
    
  }
