body {
    position: relative;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
  }
p {
    background-image: url('assetz/bg.jpg')
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}